@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_box {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
    background-color: #03111f;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.tab-nav {
    outline: none;
    display: none;
}

.label {
    display: none;
    color: white;
}

.content_nav {
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content_nav li {
    display: inline-block;
    padding-right: 10px;
}

.content_nav li a {
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.content_nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after {
    transform: scale(1, 1);
}

.burger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;
}


/*Main Section */
.links ul li a {
    display: block
}

/* footer */

footer #f-copy {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #03111f;
    color: white;
    text-align: center;
}


/* nav auto Resize */

@media screen and (max-width: 791px) {
    .label {
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .content_nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }

    .nav_box input:checked~.content_nav {
        max-height: 500px;
    }

    .content_nav li {

        padding: 15px 0px;
    }
}